{% extends "base.html" %}

{% block content %}

<h1>{{ album.title }}</h1>

{% for artist in album.artist.all %}

<a>Artist: {{ artist.name }}</a>

{% endfor %}

{% if album.artist %}
<div class="flex">
    <div>{{ album.artist }}</div>
</div>
{% endif %}

{% if album.cover %}
<img src="{{ album.cover.url }}" alt="{{ album.cover }}">
{% endif %}


<p>
    <a href="{% url 'edit_album' pk=album.pk %}">Edit Album</a><br>
    <a class="red" href="{% url 'delete_album' pk=album.pk %}">Delete Album</a>
</p>


<a href="{% url 'list_albums' %}">Return to album list</a>

{% endblock %}