{% extends "base.html" %}

{% block content %}
<h1>All Albums</h1>

<p><a href="{% url 'add_album' %}">Add New Album</a></p>

<div class="container">
    {% for album in albums %}

    <a href="{% url 'album_details' pk=album.pk %}">View {{ album.title }}</a>

    {% if album.artist %}
    {{ album.artist }}
    {% endif %}

    {% if album.cover %}
    <img src="{{ album.cover.url }}" alt="{{ album.cover }}">
    {% endif %}

    {% if album in favorite_albums %}
    <h1>FAVORITE</h1>
    {% endif %}

    <a href="{% url 'edit_album' pk=album.pk %}">Edit Album</a><br>
    <a class="red" href="{% url 'delete_album' pk=album.pk %}">Delete Album</a>

    {% endfor %}
</div>
{% endblock %}