{% extends "base.html" %}

{% block content %}
<h1>All Albums</h1>

<p><a href="{% url 'add_album' %}">Add New Album</a></p>

<div class="flex-container">
    {% for album in albums %}
    <div class="record">
        <a href="{% url 'album_details' pk=album.pk %}">{{ album.title }}</a>
        <div class="artist">
            {% if album.artist %}
            {{ album.artist }}
            {% endif %}
        </div>
        <div class="cover">
            {% if album.cover %}
            <img src="{{ album.cover.url }}" alt="{{ album.cover }}">
            {% endif %}
        </div>
        <div class="favorite">
            {% if album in favorite_albums %}
            <h2>*</h2>
            <a href="{% url 'delete_favorite' pk=album.pk %}">Delete from Favorites</a>
            {% else %}
            <a href="{% url 'add_favorite' pk=album.pk %}">Add to Favorites</a>
            {% endif %}
        </div>
        <div class="functions">
            <a href="{% url 'edit_album' pk=album.pk %}">Edit Album</a><br>
            <a class="red" href="{% url 'delete_album' pk=album.pk %}">Delete Album</a>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}